In [44]:
import pandas as pd

In [50]:
df_books = pd.read_csv('/content/j.csv',sep=',',header=0, names=['Namesssss', 'Authorrrr', 'User Rating', 'Reviews', 'Price', 'Year', 'Genre'])

In [51]:
df_books.columns

Index(['Namesssss', 'Authorrrr', 'User Rating', 'Reviews', 'Price', 'Year',
       'Genre'],
      dtype='object')

In [54]:
pd.read_json('/content/hpcharactersdataraw.json',typ='Series')

0       {'Name': 'Mrs. Abbott', 'Link': 'https://www.h...
1       {'Name': 'Hannah Abbott', 'Link': 'https://www...
2       {'Name': 'Abel Treetops', 'Link': 'https://www...
3       {'Name': 'Euan Abercrombie', 'Link': 'https://...
4       {'Name': 'Aberforth Dumbledore', 'Link': 'http...
                              ...
1935    {'Name': 'Georgi Zdravko', 'Link': 'https://ww...
1936    {'Name': 'Zograf', 'Link': 'https://www.hp-lex...
1937    {'Name': 'Zonko', 'Link': 'https://www.hp-lexi...
1938    {'Name': 'Valentina Vázquez', 'Link': 'https:/...
1939    {'Name': 'Zygmunt Budge', 'Link': 'https://www...
Length: 1940, dtype: object